<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HTML + CSS</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      p {
        color: rgb(59, 33, 14);
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Defensores del Pastizal</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#quienes-somos">Quiénes somos</a></li>
        <li><a href="#acciones">Qué hacemos</a></li>
        <li><a href="https://talentosdigitales.ar/">Talentos Digitales</a></li>
      </ul>
    </nav>
    <section id="quienes-somos">
      <div class="descripción">
        <p>
          Somos una agrupación comunitaria conformada por profesionales de
          diversas ramas de la biología, estudiantes de grado, profesoras,
          licenciadas, guardaparques y estudiantes doctorales junto a ciudadanos
          y artistas.
        </p>
        <p>
          Nuestro objetivo es comunicar y sensibilizar acerca de la importancia
          ecológica, cultural y económica de la preservación de los pastizales,
          sus principales amenazas y las consecuencias de su pérdida, dado que
          es uno de los ecosistemas más vulnerables y menos conservados del
          planeta.
        </p>
      </div>
    </section>
    <img src="Logo_DDP.png" alt="logo" />
    <footer>
      <p class="footer-content">
        © 2024 Defensores del Pastizal | Made with ♥ by Clara González
      </p>
      <p style="text-align: center"><a href="#contacto">Contáctanos</a></p>
    </footer>
  </body>
</html>
