header {
  background-color: #dfd247;
  color: #030504;
  text-align: center;
  padding: 20px;
}
section {
  padding: 20px; /* espaciado para la sección de 20 pixeles */
  text-align: justify;
}
footer {
  background-color: #dfd247; /* Color de fondo del footer */
  padding: 20px 0;
  margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
  text-align: center;
  color: black;

/* Estilo para los iconos de redes sociales */
.social-icons {
    list-style: none;
    padding: 0;
}
.social-icons li {
    display: inline-block;
    margin-right: 20px; /* Espacio entre los íconos */
}
.social-icons a {
    color: #fff;
    font-size: 10px; /* Tamaño de los íconos */
}
